.container.user-new
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Register
          .user-name_image.row
            .user-name.col-md-10
              = f.text_field :name, placeholder: "NAME",autofocus: true, required: true
            .user-image.col-md-2.thumbnail_preview
              %button.btn.btn-primary Add image
              = f.file_field :avatar
          .user-email
            = f.email_field :email, placeholder: "email"
          .user-password
            = f.password_field :password, placeholder: "password", autocomplete: "off"
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              = f.text_field :member, placeholder: "Member"
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              = f.text_field :profile, placeholder: "Profile"
          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              = f.text_field :works, placeholder: "works"
        .row.text-center.user-btn
          = f.submit "SAVE", class: "btn btn-lg btn-primary btn-block"
