.container.proto-new
  - if @prototype.errors.any?
    - @prototype.errors.full_messages.each do |message|
      = message
  = form_for(@prototype) do |f|
    =f.hidden_field :user_id, value: current_user.id
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, placeholder: "Title", required: true, autofocus: true, class: "proto-new-title"
      .col-md-12
        .cover-image-upload
          #js_thumbnail_preview_0
            = f.fields_for :thumbnails do |thumbnails_form|
              = thumbnails_form.file_field :image
              = thumbnails_form.hidden_field :status, value: "main"
      .col-md-12
        %ul.proto-sub-list.list-group
          - 3.times do |i|
            %li.list-group-item.col-md-4
              .image-upload
                #js_thumbnail_preview
                  = f.fields_for :thumbnails do |thumbnails_form|
                    = thumbnails_form.file_field :image, {id: "js_thumbnail_preview_#{i + 1}"}
                    = thumbnails_form.hidden_field :status, value: "sub"
      .row.proto-description
        .col-md-12
          =f.text_field :catch_copy, placeholder: "Catch copy"
        .col-md-12
          =f.text_field :concept, placeholder: "Concept", rows: 4, cols: 30
        .col-md-12
          %h4 Tag List
          .row
            - Settings.tag_example.each do |exm|
              .col-md-3
                = text_field_tag "prototype[tag][]", "", placeholder: exm
    .row.text-center.proto-btn
      = f.submit "投稿する", class: "btn btn-lg btn-primary btn-block"

