.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag(@prototype.user.avatar, size: "64x64", class: "media-object"), user_path(@prototype.user.id)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
            - if user_signed_in? && @prototype.user_id == current_user.id
              = link_to "EDIT", edit_prototype_path(@prototype.id), class: "btn btn-xs navbar-inverse btn-edit"
              = link_to "DELETE", prototype_path(@prototype.id), method: :delete, class: "btn btn-xs navbar-inverse btn-delete"
          .proto-user
            = link_to @prototype.user.name, user_path(@prototype.user.id)
            .degree
              = @prototype.user.member

    .col-md-6.text-right
      #js-like-buttons
        = render partial: "prototypes/like", locals: { prototype: @prototype, likes: @likes}

  .row
    .col-md-9
      = image_tag(@prototype.thumbnails.main[0].image, class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        - @sub_images.each do |sub_img|
          %li.list-group-item
            = image_tag(sub_img.image, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span#comments_count
        = "(#{@comments.count})"
    .col-md-8
      #comments
        = render partial: "prototypes/comment", collection: @comments, locals: { prototype: @protoytpe, comment: @comment }
      %form.form-inline
      - if user_signed_in?
        = form_for [@prototype, @comment], remote: true do |f|
          = f.hidden_field :user_id, value: current_user.id
          = f.hidden_field :prototype_id, value: @prototype.id
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :text, require: true, rows: "3", placeholder: "Your comments", id: "comment-field", class: "form-control"

            .form-group.col-md-2
              = f.submit "COMMENT", class: "button btn btn-primary"
