-if user_signed_in?
  - if @prototype.like_user(current_user)
    = button_to prototype_like_path(@prototype, @likes), method: :delete, id: "js-like-button", class: "btn btn-default decrement-button", data: { disable_with: "sending..." }, remote: true do
      = image_tag("icon_heart_red.svg")
      LIKE
      = @prototype.likes_num
  - else
    = button_to prototype_likes_path(@prototype), id: "js-like-button", class: "btn btn-default", data: { disable_with: "sending..." }, remote: true do
      = image_tag("icon_heart.svg")
      LIKE
      = @prototype.likes_num
- else
  = image_tag("icon_heart_red.svg")
  %span
    #like-sum
      = @prototype.likes_num
