= render partial: 'layouts/sub_header'
.container
  .row
    .col-xs-4.col-sm-3.col-md-3.tag-title
      = link_to tag_path(@tag.id) do
        .thumbnail.tag-square.tag-show
          = @tag.name
          .tag-meta
            .label.label-default.tag-list-number
              %span
                = @tag.taggings_count
                %i
                  Projects
  = render partial: 'layouts/prototype', collection: @prototypes
