.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to image_tag(prototype.main_image.image), prototype_path(prototype.id)
    .caption
      %h3
        = link_to prototype.title, prototype_path(prototype.id)
      .proto-meta
        .proto-user
          = link_to prototype.user.name, user_path(prototype.user.id)
        .proto-posted
          = l prototype.created_at, format: :default
      %ul.proto-tag-list.list-inline
        - prototype.tags.each do |tag|
          %li
            =link_to "#{tag.name}", tag_path(tag.id), class: "btn btn-default"
